/* * {
  border: 1.5px solid black;
} */
p {
  font-family: "Gill Sans", sans-serif;
}
body {
  background-color: rgb(247, 247, 247);
  margin-left: 40px;
}
.fscreen {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  align-items: center;
  padding: 3px 5px;
}
.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.elogo {
  display: flex;
  /* margin-top: 18px; */
  width: 38px;
  height: 38px;
  background: #f77e53;
  color: white;
  border-radius: 19px;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 28px;
}

.edu {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.menu {
  display: flex;

  justify-content: space-around;
  width: calc(30%);
  align-items: center;
}
h4 {
  font-family: Impact, Haettenschweiler, "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: -0.01em;
}
.signin {
  display: flex;
  background-color: skyblue;
  width: 125px;
  height: 40px;
  font-family: "Inter";
  font-size: 20px;
  color: rgb(89, 89, 219);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.menuc {
  font-family: "Inter";
  font-size: 20px;
}
.menuc:hover,
.signin:hover {
  font-weight: 600;
}
.second {
  padding-top: 50px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.get_started {
  display: flex;
  border-radius: 20px;
  width: 200px;
  justify-content: center;
  height: 62px;
  align-items: center;
  background-color: #f77e53;
  color: white;
  font-size: 22px;
}
.seconds.text {
  /* portrait-cheerful-young-man-smiling-pointing-finger-up-removebg-preview */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
}

.seconds.image {
  display: flex;
  width: 50%;
  height: 560px;
  flex-wrap: nowrap;
  background-image: url(man_potrait.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 452px;

  flex-direction: column;
}
.top {
  display: flex;
  width: 100%;

  align-items: center;

  height: 50%;
}
.bottom {
  padding-top: 100px;
  margin-left: -90px;
  display: flex;

  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.imglogo {
  display: flex;
  width: 10px;
  height: 100%;
}

.graduation {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.graduation-counter {
  display: flex;
  max-width: 250px;
  border-radius: 10px;
  flex-direction: column;
}
.counting {
  display: flex;
  align-items: center;
  gap: 14px;
}
.award {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: orange;
  justify-content: center;
  align-items: center;
}
.blue-ball {
  width: 20px;
  height: 20px;
  background-color: sky rgb(57, 174, 183);
  border-radius: 10px;
}
.bensic {
  padding: 2px;
  margin: 5px;
  gap: 15px;
  font-size: 9px;
}
.bensic div {
  font-family: "Gill Sans", sans-serif;
}
.t-counts {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-content: space-around;
  padding: 5px 15px;
}
.university-logos {
  margin: 40px;
  align-items: center;
  display: flex;
}
.university-logos .text {
  width: 200px;
}
.university-logos .logos {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: 28px;
}
.univ {
  width: 180px;
  height: 53px;
}
@media only screen and (max-width: 900px) {
  * {
    flex-direction: column;
  }
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
  }
  body {
    margin-left: 15px;
  }
}
