/* * {
  border: 1.5px solid black;
} */
body {
  padding: 10px;
  background-color: rgb(247, 247, 247);
}
.fscreen {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  align-items: center;
  padding: 3px 5px;
}
.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.elogo {
  display: flex;
  /* margin-top: 18px; */
  width: 38px;
  height: 38px;
  background: #f77e53;
  color: white;
  border-radius: 19px;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 28px;
}

.edu {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.menu {
  display: flex;

  justify-content: space-around;
  width: calc(30%);
  align-items: center;
}
h4 {
  font-family: Impact, Haettenschweiler, "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: -0.01em;
}
.signin {
  display: flex;
  background-color: skyblue;
  width: 125px;
  height: 40px;
  font-family: "Inter";
  font-size: 20px;
  color: rgb(89, 89, 219);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.menuc {
  font-family: "Inter";
  font-size: 20px;
}
.menuc:hover,
.signin:hover {
  font-weight: 600;
}
.second {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.get_started {
  display: flex;
  border-radius: 20px;
  width: 200px;
  justify-content: center;
  height: 62px;
  align-items: center;
  background-color: #f77e53;
  color: white;
  font-size: 22px;
}
.seconds.text {
  /* portrait-cheerful-young-man-smiling-pointing-finger-up-removebg-preview */
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-content: space-between;
  width: 400px;
}

.seconds.image {
  display: flex;
  width: 452px;
  height: 560px;
  background-image: url(man_potrait.jpeg);
  background-size: 452px;
}
@media only screen and (max-width: 900px) {
  * {
    flex-direction: column;
  }
  body {
    margin-left: 15px;
  }
  .menu {
    justify-content: left;
    align-items: flex-start;
  }
}
